<?xml version="1.0" encoding="utf-8"?>
<!--
  Per ulteriori informazioni sulla configurazione dell'applicazione ASP.NET, visitare
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
      <section name="ApplicationCode" type="Com.Delta.Logging.ApplicationCodeConfigSection, Com.Delta.Logging"/>
    <section name="entityFramework"
        type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        requirePermission="false"/>
    <sectionGroup name="applicationSettings"
        type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GestionePEC.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup> 
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="FAXPECContext"
      connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=ASUSPC\SQLEXPRESS;initial catalog=FAXPEC;persist security info=True;user id=TOMCAT;password=ROBERTA;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Persist Security Info=True;User ID=TOMCAT;Password=ROBERTA"
      providerName="System.Data.EntityClient"/>
    <add connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=ASUSPC\SQLEXPRESS;initial catalog=FAXPEC;persist security info=True;user id=TOMCAT;password=ROBERTA;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" name="MailConnection"/>
   </connectionStrings>
   <ApplicationCode appCode="MAILPEC" appDescr="Gestione Mail"/>
  <appSettings>
      <add key="log4net.Config" value="log4net.config"/>
      <add key="headerMessage" value="MAIL WEB ACCESS"/>
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="CACHEXPIRATION" value="15"/>
    <add key="APPCODE" value="GESTIONEPEC"/>
    <add key="MaxMemoryDimensionForMailViewer" value="4000000"/>
    <add key ="vs:EnableBrowserLink" value="false"/>
  </appSettings>
  <system.web>
    <siteMap enabled="true">
      <providers>
        <add name="SiteMapMail" type="System.Web.XmlSiteMapProvider" siteMapFile="~/App_Data/Web.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
     <sessionState timeout="60"/>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" protection="All" timeout="30" name=".ASPXAUTH" path="/" requireSSL="false" slidingExpiration="true"
        defaultUrl="pages/common/Default.aspx" cookieless="UseDeviceProfile" enableCrossAppRedirects="false"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembrshipProvieder" type="AspNet.Identity.SQLServerProvider" connection="DefaultConnection"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="AspNet.Identity.SQLServerProvider" connection="DefaultConnection"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="AspNet.Identity.SQLServerProvider" connection="DefaultConnection"/>
      </providers>
    </roleManager>
    <authorization>
      <deny users="?"/>
    </authorization>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages></system.web>
  <location path="LogOff.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="LogIn.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="LogOffFromBrowser.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Users">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Pubblica">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/LoginServiceController">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="asmx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
    <location path="Ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
   <location path="ExtJS5">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
   <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime> 
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <behaviors>
      <endpointBehaviors>
        <behavior name="AjaxBehavior">
          <enableWebScript/> 
        </behavior>
        <behavior name="RESTBehavior">
          <webHttp/>
        </behavior>      
      </endpointBehaviors>     
    </behaviors>   
  </system.serviceModel>
  <applicationSettings>
    <GestionePEC.Properties.Settings>
      <setting name="ListaRisultatiPerPagina" serializeAs="String">
        <value>5</value>
      </setting>
    </GestionePEC.Properties.Settings>
  </applicationSettings>
</configuration>