<?xml version="1.0" encoding="utf-8"?>
<!--
  Per ulteriori informazioni sulla configurazione dell'applicazione ASP.NET, visitare
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
      <section name="ApplicationCode" type="Com.Delta.Logging.ApplicationCodeConfigSection, Com.Delta.Logging" />
    <section name="entityFramework"
   type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /> 
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="Oracle.ManagedDataAccess.Client"
    type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  <section name="oracle.manageddataaccess.client"
    type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
   <sectionGroup name="ServiceConfigurationSectionGroup">
      <section name="SendMail" type="Com.Delta.Data.ServiceConfigurationSection,Com.Delta.Data.DeltaStub" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>
  <ServiceConfigurationSectionGroup>
    <SendMail>
      <ServiceAssembly path="C:\Users\Nick\Documents\Visual Studio 2015\NEWAPP\GestionePEC\SendMail\SendMailBusiness\bin\Debug\SendMail.Business.dll" type="SendMail.Business.ServiceFactory, SendMail.Business" />
      <DaoAssembly path="C:\Users\Nick\Documents\Visual Studio 2015\NEWAPP\GestionePEC\SendMail\SendMailProject\SendMail.Data.OracleDb\bin\Debug\SendMailApp.OracleCore.dll" type="SendMail.Data.OracleDb.OracleSessionManager, SendMailApp.OracleCore" connectionName="MailConnection" />
    </SendMail>
  </ServiceConfigurationSectionGroup>
  <connectionStrings>
      <add name="DefaultConnection" connectionString="DATA SOURCE=DELTA;USER ID=FAXPEC;Password=FAXPEC" providerName="System.Data.SqlClient"/>
    <add connectionString="DATA SOURCE=DELTA;USER ID=FAXPEC;Password=FAXPEC" name="MailConnection"/>
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client"
        connectionString="User Id=FAXPEC;Password=FAXPEC;Data Source=DELTA"/>
   </connectionStrings>
   <ApplicationCode appCode="MAILPEC" appDescr="Gestione Mail" />
  <appSettings>
      <add key="log4net.Config" value="log4net.config" />
      <add key="headerMessage" value="MAIL WEB ACCESS"/>
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="CACHEXPIRATION" value="15"/>
    <add key="APPCODE" value="GESTIONEPEC"/>
  </appSettings>
  <system.web>
    <siteMap enabled="true">
      <providers>
        <add name="SiteMapMail" type="System.Web.XmlSiteMapProvider" siteMapFile="~/App_Data/Web.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
     <sessionState timeout="60"/>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" protection="All" timeout="30" name=".ASPXAUTH" path="/" requireSSL="false" slidingExpiration="true"
        defaultUrl="pages/default.aspx" cookieless="UseDeviceProfile" enableCrossAppRedirects="false"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembrshipProvieder" type="AspNet.Identity.OracleProvider" connection="DefaultConnection"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="AspNet.Identity.OracleProvider" connection="DefaultConnection"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="AspNet.Identity.OracleProvider" connection="DefaultConnection"/>
      </providers>
    </roleManager>
    <authorization>
      <deny users="?"/>
    </authorization>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages></system.web>
  <location path="LogOff.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="LogIn.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="LogOffFromBrowser.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Users">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="api/LoginServiceController">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="asmx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <entityFramework>
   <providers>
     <provider invariantName="Oracle.ManagedDataAccess.Client"
      type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
   </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="FAXPEC" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=DELTA)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <behaviors>
      <endpointBehaviors>
        <behavior name="AjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="RESTBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="GestionePEC.Asmx.FoldersServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="GestionePEC.Asmx.FoldersServiceBehavior" name="GestionePEC.Asmx.FoldersService">
        <endpoint address="" behaviorConfiguration="RESTBehavior" binding="webHttpBinding" contract="GestionePEC.Asmx.FoldersService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>