/*.tableDati {border: 1px solid #666666;}*/
.tdDati {border: 1px solid #666666;}
.thDati {border: 1px solid #666666;}
.cellaIntestazione {font-weight: bolder; color: #000000; background-color: #f5f1de; border: 1px solid #666666;}
.cellaCampo {font-weight: bolder; color: #000000; background-color: #d7e5f5; border: 1px solid #666666;}
/*.cellaTesto {font-weight: normal; color: #000000; background-color: #ffffff}*/
