<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="MailConfig" type="Com.Unisys.MetaBus.SMTPProtocol.Config.MailConfig, Com.Unisys.MetaBus.SMTPProtocol" />
    <sectionGroup name="ServiceConfigurationSectionGroup">
      <section name="SendMail" type="Com.Unisys.Data.ServiceConfigurationSection,FaxPec.Data.UnisysStub" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SendMailApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="SendMailApp.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="ApplicationCode" type="Com.Unisys.Logging.ApplicationCodeConfigSection, Com.Unisys.Logging" />
  </configSections>
  <connectionStrings>
    <!-- <add name="MailConnection" connectionString="DATA SOURCE=SVILUPPO;USER ID=FAXPEC;Password=FAXPEC;POOLING=False" providerName="" />-->
    <add name="MailConnection" connectionString="DATA SOURCE=SVILUPPO;USER ID=FAXPEC;Password=FAXPEC;POOLING=False" providerName=""/>
  </connectionStrings>
  <appSettings>
    <add key="log4net.Config" value="log4net.config" />
    <add key="MutexName" value="ReceiveMutex" />
    <add key="MaxNumeroMailsPerInvio" value="100" />
    <add key="pathFolderTpu" value="C:\Dev1\RootPrj\CrabMail\CrabMail\config\stampe\tpu\" />
    <add key="OperationType" value="SEND" />
    <add key="DeleteFromServer" value="true" />
    <add key="MaxMailSizeInMB" value="5" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ImageRoma" value="C:\Dev1\RootPrj\FAXPec\CertiWebAppAnag\config\stampe\tpu\LogoRomaCapitaleNew.jpg"/>
  </appSettings>
  <ApplicationCode appCode="BATCH_MAIL_DBG" appDescr="Batch per l'invio e la ricezione delle mail" />
  <ServiceConfigurationSectionGroup>
    <SendMail>
      <ServiceAssembly path="C:\Dev1\RootPrj\CrabMail\CrabMail\bin\SendMail.Business.dll" type="SendMail.Business.ServiceFactory, SendMail.Business" />
      <DaoAssembly path="C:\Dev1\RootPrj\CrabMail\CrabMail\bin\SendMailApp.OracleCore.dll" type="SendMail.Data.OracleDb.OracleSessionManager, SendMailApp.OracleCore" connectionName="MailConnection" />
    </SendMail>
  </ServiceConfigurationSectionGroup>
  <MailConfig schemaPath="C:\Dev1\RootPrj\Com.Unisys.MetaBus v1.1\Com.Unisys.MetaBus.SMTPProtocol\Schemi\XMLMail.xsd" enableValidation="true">
    <MailServers>
      <Server code="comune.roma.it" address="mail.comune.roma.it" userName="portaapplicativa" password="pw110506" />
      <Server code="pec.comune.roma.it" address="mail.telecompost.it" userName="" password="" />
      <Server code="b" address="c" userName="z" password="xx" />
    </MailServers>
  </MailConfig>
  <applicationSettings>
    <SendMailApp.Properties.Settings>
      <setting name="Com_Unisys_MetaBus_Base_MetBusProxy_MetaBus" serializeAs="String">
        <value>http://10.173.9.28/MetaBus/MetaBus.asmx</value>
      </setting>
    </SendMailApp.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>