<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <section name="dataConfiguration"
      type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
     <sectionGroup name="ServiceConfigurationSectionGroup">
      <section name="SendMail" type="Com.Delta.Data.ServiceConfigurationSection,Com.Delta.Data.DeltaStub" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings"
      type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SendMailApp.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="SendMailApp.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="ApplicationCode" type="Com.Delta.Logging.ApplicationCodeConfigSection, Com.Delta.Logging"/>
  </configSections>
  <connectionStrings>
    <!-- <add name="MailConnection" connectionString="DATA SOURCE=SVILUPPO;USER ID=FAXPEC;Password=FAXPEC;POOLING=False" providerName="" />-->
    <add name="MailConnection" connectionString="DATA SOURCE=DELTA;USER ID=FAXPEC;Password=FAXPEC;POOLING=False" providerName=""/>
  </connectionStrings>
  <appSettings>
    <add key="log4net.Config" value="log4net.config"/>
    <add key="MutexName" value="ReceiveMutex"/>
    <add key="MaxNumeroMailsPerInvio" value="100"/>
    <add key="pathFolderTpu" value="C:\Dev1\RootPrj\CrabMail\CrabMail\config\stampe\tpu\"/>
    <add key="OperationType" value="SEND"/>
    <add key="DeleteFromServer" value="true"/>
    <add key="MaxMailSizeInMB" value="5"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ImageRoma" value="C:\Dev1\RootPrj\FAXPec\CertiWebAppAnag\config\stampe\tpu\LogoRomaCapitaleNew.jpg"/>
  </appSettings>
  <ApplicationCode appCode="BATCH_MAIL_DBG" appDescr="Batch per l'invio e la ricezione delle mail"/>
  <ServiceConfigurationSectionGroup>
    <SendMail>
      <ServiceAssembly path="C:\Users\Nick\Documents\Visual Studio 2015\NEWAPP\GestionePEC\SendMail\SendMailBusiness\bin\Debug\SendMail.Business.dll"
        type="SendMail.Business.ServiceFactory, SendMail.Business"/>
      <DaoAssembly path="C:\Users\Nick\Documents\Visual Studio 2015\NEWAPP\GestionePEC\SendMail\SendMailProject\SendMail.Data.OracleDb\bin\Debug\SendMailApp.OracleCore.dll"
        type="SendMail.Data.OracleDb.OracleSessionManager, SendMailApp.OracleCore" connectionName="MailConnection"/>
    </SendMail>
  </ServiceConfigurationSectionGroup> 
  <applicationSettings>
    <SendMailApp.Properties.Settings>
      <setting name="Com_Delta_MetaBus_Base_MetBusProxy_MetaBus" serializeAs="String">
        <value>http://10.173.9.28/MetaBus/MetaBus.asmx</value>
      </setting>
    </SendMailApp.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess"  culture="neutral" publicKeyToken="89b483f429c47342"/>
        <codeBase version="4.121.2.0" href="FILE://Oracle.DataAccess.dll"/>
        <publisherPolicy apply="no"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
          type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider"
          type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>  
</configuration>
