<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<log4net debug="false">
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
			<param name="File" value="BatchMail.log"/>
			<param name="AppendToFile" value="true"/>
			<param name="RollingStyle" value="Size"/>
			<param name="MaxSizeRollBackups" value="3"/>
			<param name="MaximumFileSize" value="1MB"/>
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="[%date{yyyy-MMM-dd HH:mm:ss}][%-5p][%c] %m%n"/>
			</layout>
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="ALL"/>
			</filter>
		</appender>
		<appender name="AdoNetAppenderInfo_Oracle" type="log4netExtensions.Appender.AsyncOracleAppender, Com.Delta.Logging">
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="INFO"/>
				<levelMax value="NOTICE"/>
			</filter>
			<!-- oracle connection -->
			<!--<connectionType value="Oracle.DataAccess.Client.OracleConnection, Oracle.DataAccess, Version=2.122.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>-->
			<connectionString value="data source=DELTA;User ID=FAXPEC;Password=FAXPEC"/>
			<!-- oracle command -->
			<commandText value="INSERT INTO LOG_ACTIONS(LOG_UID, APP_CODE, LOG_CODE, USER_ID, USER_MAIL, LOG_DETAILS, LOG_DATE, LOG_LEVEL) VALUES(:logUID, :appCode, :logCode, :userID, :userMail, :logDetails, :logDate, :livello)"/>
			<!-- buffer size: 1-1010 -->
			<bufferSize value="1"/>
			<parameter>
				<parameterName value=":logUID"/>
				<dbType value="String"/>
				<size value="20"/>
				<layout type="log4netExtensions.Layout.CustomLayout">
					<conversionPattern value="%uniqueLogID"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value=":appCode"/>
				<dbType value="String"/>
				<size value="20"/>
				<layout type="log4netExtensions.Layout.CustomLayout">
					<conversionPattern value="%loggingAppCode"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value=":logCode"/>
				<dbType value="String"/>
				<size value="20"/>
				<layout type="log4netExtensions.Layout.CustomLayout">
					<conversionPattern value="%logCode"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value=":userID"/>
				<dbType value="String"/>
				<size value="20"/>
				<layout type="log4netExtensions.Layout.CustomLayout">
					<conversionPattern value="%userID"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value=":userMail"/>
				<dbType value="String"/>
				<size value="255"/>
				<layout type="log4netExtensions.Layout.CustomLayout">
					<conversionPattern value="%userMail"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value=":logDetails"/>
				<dbType value="String"/>
				<layout type="log4netExtensions.Layout.CustomLayout">
					<conversionPattern value="%freeTextDetails"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value=":logDate"/>
				<dbType value="DateTime"/>
				<layout type="log4netExtensions.Layout.LoggingDateLayout"/>
			</parameter>
			<parameter>
				<parameterName value=":livello"/>
				<dbType value="String"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level"/>
				</layout>
			</parameter>
		</appender>
		<appender name="AdoNetAppenderErrors_Oracle" type="log4netExtensions.Appender.AsyncOracleAppender, Com.Delta.Logging">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN"/>
        <levelMax value="FATAL"/>
      </filter>
      <!-- oracle connection -->
      <!--<connectionType value="System.Data.OracleClient.OracleConnection, System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>-->
      <!-- <connectionString value="data source=MANAGER;User ID=MANACTIONS;Password=MANACTIONS"/> -->
      <connectionString value="data source=DELTA;User ID=FAXPEC;Password=FAXPEC"/>
      <!-- oracle command -->
      <commandText value="INSERT INTO LOG_APP_ERRORS(LOG_UID,APP_CODE,LOG_CODE,LOG_DATE,DETAILS,USER_ID,USER_IP,LOG_MESSAGE,OBJ_ID, ACTION, FUNCTION,MODULE, LOG_LEVEL) VALUES (:logUID,:appCode,:logCode,:logDate,:details,:userID,:userIP,:logMessage,:objID,:action,:function,:module,:livello)"/>
      <!-- buffer size: 1-1010 -->
      <bufferSize value="1"/>
      <parameter>
        <parameterName value=":logUID"/>
        <dbType value="String"/>
        <size value="20"/>
        <layout type="log4netExtensions.Layout.CustomLayout">
          <conversionPattern value="%uniqueLogID"/>
        </layout>
      </parameter>

      <parameter>
        <parameterName value=":appCode"/>
        <dbType value="String"/>
        <size value="20"/>
        <layout type="log4netExtensions.Layout.CustomLayout">
          <conversionPattern value="%loggingAppCode"/>
        </layout>
      </parameter>

      <parameter>
        <parameterName value=":logCode"/>
        <dbType value="String"/>
        <size value="20"/>
        <layout type="log4netExtensions.Layout.CustomLayout">
          <conversionPattern value="%logCode"/>
        </layout>
      </parameter>

      <parameter>
        <parameterName value=":logDate"/>
        <dbType value="DateTime"/>
        <layout type="log4netExtensions.Layout.LoggingDateLayout"/>
      </parameter>

      <parameter>
        <parameterName value=":details"/>
        <dbType value="String"/>
        <layout type="log4netExtensions.Layout.CustomLayout">
          <conversionPattern value="%enanchedInfos"/>
        </layout>
      </parameter>

      <parameter>
        <parameterName value=":userID"/>
        <dbType value="String"/>
        <layout type="log4netExtensions.Layout.CustomLayout">
          <conversionPattern value="%userID"/>
        </layout>
      </parameter>

      <parameter>
        <parameterName value=":userIP"/>
        <dbType value="String"/>
        <layout type="log4netExtensions.Layout.CustomLayout">
          <conversionPattern value="%userIP"/>
        </layout>
      </parameter>

      <parameter>
        <parameterName value=":logMessage"/>
        <dbType value="String"/>
        <layout type="log4netExtensions.Layout.CustomLayout">
          <conversionPattern value="%freeTextDetails"/>
        </layout>
      </parameter>

      <parameter>
        <parameterName value=":objID"/>
        <dbType value="String"/>
        <layout type="log4netExtensions.Layout.CustomLayout">
          <conversionPattern value="%objectID"/>
        </layout>
      </parameter>

      <parameter>
        <parameterName value=":action"/>
        <dbType value="String"/>
        <layout type="log4netExtensions.Layout.CustomLayout">
          <conversionPattern value="%action"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":function"/>
        <dbType value="String"/>
        <layout type="log4netExtensions.Layout.CustomLayout">
          <conversionPattern value="%function"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":module"/>
        <dbType value="String"/>
        <layout type="log4netExtensions.Layout.CustomLayout">
          <conversionPattern value="%module"/>
        </layout>
      </parameter>

      <parameter>
        <parameterName value=":livello"/>
        <dbType value="String"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level"/>
        </layout>
      </parameter>
    </appender>
		<root>
			<level value="ALL"/>
			<appender-ref ref="AdoNetAppenderInfo_Oracle"/>
			<appender-ref ref="AdoNetAppenderErrors_Oracle"/>
			<appender-ref ref="RollingFileAppender"/>
		</root>
	</log4net>
</configuration>
