WITH T_MAIL(ID_MAIL, FOLLOWS, MAIL_SUBJECT, IND_MAIL, FOLDER)
 AS
 (SELECT ID_MAIL, FOLLOWS, MAIL_SUBJECT, COALESCE(MAIL_TO, MAIL_CC, MAIL_CCN), 'I'
  FROM FAXPEC.MAIL_INBOX WHERE MAIL_ACCOUNT = 'n.ruberto@deltamanagement.it' UNION SELECT ID_MAIL, FOLLOWS, 
  MAIL_SUBJECT, COALESCE(MAIL_TO, MAIL_CC, MAIL_CCN), 'O' FROM [FAXPEC].[FAXPEC].[MAIL_CONTENT] MC
   INNER JOIN ( SELECT * FROM FAXPEC.MAIL_REFS_NEW PIVOT (MAIL_DESTINATARIO)
	 MRN ON MC.ID_MAIL = MRN.REF_ID_MAIL WHERE MAIL_SENDER = 'n.ruberto@deltamanagement.it' ), 
	 T_MAIL_ROOT(ID_MAIL) AS (SELECT DISTINCT LAST_VALUE(ID_MAIL) OVER () FROM T_MAIL
	 WHERE ID_MAIL=17733 
	 UNION ALL 
	 SELECT child.ID_MAIL FROM  [FAXPEC].[FAXPEC].MAIL_INBOX AS CHILD JOIN T_MAIL AS PARENT 
	 ON PARENT.ID_MAIL=CHILD.FOLLOWS) 
	 SELECT * FROM T_MAIL 
	 WHERE  
	  ID_MAIL =
	  (SELECT ID_MAIL FROM T_MAIL_ROOT WHERE ROW_NUMBER() = 1
	  UNION ALL 
	  SELECT CHILD1.ID_MAIL FROM  [FAXPEC].[FAXPEC].MAIL_INBOX AS CHILD1 JOIN T_MAIL AS PARENT 
	 ON PARENT.ID_MAIL=CHILD1.FOLLOWS);


	 WITH T_MAIL(ID_MAIL, FOLLOWS, MAIL_SUBJECT, IND_MAIL, FOLDER)
 AS
 (SELECT ID_MAIL, FOLLOWS, MAIL_SUBJECT, COALESCE(MAIL_TO, MAIL_CC, MAIL_CCN), 'I'
  FROM FAXPEC.MAIL_INBOX WHERE MAIL_ACCOUNT = 'n.ruberto@deltamanagement.it' UNION SELECT ID_MAIL, FOLLOWS, 
  MAIL_SUBJECT, MAIL_DESTINATARIO, 'O' FROM [FAXPEC].[FAXPEC].[MAIL_CONTENT] MC
   INNER JOIN  FAXPEC.MAIL_REFS_NEW 
	 MRN ON MC.ID_MAIL = MRN.REF_ID_MAIL WHERE MAIL_SENDER = 'n.ruberto@deltamanagement.it' ), 
	 T_MAIL_ROOT(ID_MAIL) AS (SELECT DISTINCT LAST_VALUE(ID_MAIL) OVER (PARTITION BY ID_MAIL ORDER BY ID_MAIL) FROM T_MAIL
	 WHERE ID_MAIL=17733 
	 UNION ALL 
	 SELECT child.ID_MAIL FROM  [FAXPEC].[FAXPEC].MAIL_INBOX AS CHILD JOIN T_MAIL AS PARENT 
	 ON PARENT.ID_MAIL=CHILD.FOLLOWS) 
	 SELECT * FROM T_MAIL 
	 WHERE  
	  ID_MAIL =
	  (SELECT ID_MAIL FROM T_MAIL_ROOT 
	  UNION ALL 
	  SELECT CHILD1.ID_MAIL FROM  [FAXPEC].[FAXPEC].MAIL_INBOX AS CHILD1 JOIN T_MAIL AS PARENT 
	 ON PARENT.ID_MAIL=CHILD1.FOLLOWS);


 SELECT FAXPEC.UFN_SEPARATES_COLUMNS(MAIL_DESTINATARIO, 3, ';') FROM FAXPEC.MAIL_REFS_NEW;

	SELECT STRING_AGG (MAIL_DESTINATARIO, ';') WITHIN GROUP (ORDER BY ID_REF ASC) AS emails 
	FROM FAXPEC.MAIL_REFS_NEW;